<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com" target="_blank">
            REC
          </a>
        </li>
        <li>
          <a href="http://presentation.creative-tim.com" target="_blank">
            Acerca De Nosotros
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      Created by <a href="https://destinysoftware.com.co" target="_blank">Destiny Software</a>
    </div>
  </div>
</footer>