<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://reciclaencasa.com.co/" target="_blank">
            <img src="assets/img/logo_rec-logon-color.png"/>
          </a>
        </li>
        <li>
          <a href="https://reciclaencasa.com.co/el-parche/" target="_blank">
            Acerca De Nosotros
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      Desarrollado por <a href="https://reciclaencasa.com.co/" target="_blank">REC</a>
    </div>
  </div>
</footer>