<div class="sidebar" data-color="rose" style="background-image: url(assets/img/sidebar-2.jpg);
background-size: cover; color: black; background-blend-mode: multiply;" data-background-color="black" data-image="assets/img/sidebar-2.jpg">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      REC
    </a>
    <a href="#" class="simple-text logo-normal">
      Recicla En Casa
    </a>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="assets/img/faces/avatar.jpg" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
          <span>
            {{name}}
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link">
                <i class="material-icons">face</i>
                <span class="sidebar-normal"> Mi Perfil </span>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="logout()" href="#" class="nav-link">
                <i class="material-icons">exit_to_app</i>
                <span class="sidebar-normal"> Cerrar Sesión </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item " *ngIf="can('admin')">
        <a class="nav-link" data-toggle="collapse" [routerLink]="['/home']">
          <i class="material-icons">home</i>
          <p>Home
          </p>
        </a>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item " *ngIf="can('admin')">
        <a class="nav-link" data-toggle="collapse" href="#productTypes">
          <i class="material-icons">title</i>
          <p>Tipos de Producto
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="productTypes">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/typeproduct/create']">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal"> Crear </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/typeproduct']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Listar </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item " *ngIf="can('admin')">
        <a class="nav-link" data-toggle="collapse" href="#provider">
          <i class="material-icons">storefront</i>
          <p>Proveedores
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="provider">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/provider/create']">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal"> Crear </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/provider']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Listar </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item " *ngIf="can('admin')">
        <a class="nav-link" data-toggle="collapse" href="#product">
          <i class="material-icons">shopping_basket</i>
          <p>Productos
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="product">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/product/create']">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal"> Crear </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/product']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Listar </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item " *ngIf="can('admin')">
        <a class="nav-link" data-toggle="collapse" href="#invoices">
          <i class="material-icons">receipt</i>
          <p>Facturas
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="invoices">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/admin/invoices']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Lista </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item " *ngIf="can('admin')">
        <a class="nav-link" data-toggle="collapse" href="#gatherer">
          <i class="material-icons">how_to_reg</i>
          <p>Recolectores
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="gatherer">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/admin/recolector/create']">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal"> Crear </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/admin/recolector']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Listar </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item " *ngIf="can('cliente')">
        <a class="nav-link" data-toggle="collapse" href="#recycle">
          <i class="material-icons">wifi_protected_setup</i>
          <p>Recicla
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="recycle">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/recycle/schedule/generate']">
                <span class="sidebar-mini"> GC </span>
                <span class="sidebar-normal"> Generar Cita </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/recycle/schedule/calendar']">
                <span class="sidebar-mini"> VC </span>
                <span class="sidebar-normal"> Ver Citas </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item " *ngIf="can('recolector')">
        <a class="nav-link" data-toggle="collapse" href="#recolect">
          <i class="material-icons">eco</i>
          <p>Recolección
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="recolect">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/gatherer/calendar']">
                <span class="sidebar-mini"> PR </span>
                <span class="sidebar-normal"> Ver Programación</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item " *ngIf="can('cliente')">
        <a class="nav-link" data-toggle="collapse" href="#buy">
          <i class="material-icons">shopping_cart</i>
          <p>Canjea
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="buy">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/exchange']">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Productos</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/exchange/invoices']">
                <span class="sidebar-mini"> P </span>
                <span class="sidebar-normal"> Pedidos</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#notifi">
          <i class="material-icons">announcement</i>
          <p>Notificaciones
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="notifi">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/notification']">
                <span class="sidebar-mini"> VN </span>
                <span class="sidebar-normal"> Ver Notificaciones</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>