<div class="sidebar" data-color="rose" style="background-image: url(assets/img/sidebar-2.jpg);
background-size: cover; color: black; background-blend-mode: multiply;" data-background-color="black" data-image="assets/img/sidebar-2.jpg">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      CT
    </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="assets/img/faces/avatar.jpg" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
          <span>
            Tania Andrew
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> MP </span>
                <span class="sidebar-normal"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> EP </span>
                <span class="sidebar-normal"> Edit Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> S </span>
                <span class="sidebar-normal"> Settings </span>
              </a>
            </li>
            <li class="nav-item">
              <a (click)="logout()" href="#" class="nav-link">
                <span class="sidebar-mini"> S </span>
                <span class="sidebar-normal"> Cerrar Sesión </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#productTypes">
          <i class="material-icons">title</i>
          <p>Tipos de Producto
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="productTypes">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/typeproduct/create']">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal"> Crear </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/typeproduct']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Listar </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#provider">
          <i class="material-icons">storefront</i>
          <p>Proveedores
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="provider">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/provider/create']">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal"> Crear </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/provider']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Listar </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#product">
          <i class="material-icons">shopping_basket</i>
          <p>Productos
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="product">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/product/create']">
                <span class="sidebar-mini"> C </span>
                <span class="sidebar-normal"> Crear </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/product']">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Listar </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#recycle">
          <i class="material-icons">wifi_protected_setup</i>
          <p>Recicla
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="recycle">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/recycle/schedule/generate']">
                <span class="sidebar-mini"> GC </span>
                <span class="sidebar-normal"> Generar Cita </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/recycle/schedule/calendar']">
                <span class="sidebar-mini"> GC </span>
                <span class="sidebar-normal"> Ver Citas </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#recolect">
          <i class="material-icons">eco</i>
          <p>Recolección
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="recolect">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/product/create']">
                <i class="material-icons">assignment_turned_in</i>
                <span class="sidebar-normal"> Ver Programación</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#buy">
          <i class="material-icons">shopping_cart</i>
          <p>Canjea
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="buy">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/product/create']">
                <i class="material-icons">assignment_turned_in</i>
                <span class="sidebar-normal"> Ver Programación</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>