<ngx-spinner></ngx-spinner>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">shopping_basket</i>
            </div>
            <h4 class="card-title">Productos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Tipo Producto</th>
                    <th class="text-center">Proveedor</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Puntos</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th class="text-right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <td class="text-center">{{product.id}}</td>
                    <td class="text-center">{{product.idproducttype}}</td>
                    <td class="text-center">{{product.idprovider}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.points}}</td>
                    <td>{{product.quantity}}</td>
                    <td *ngIf="product.state">Activo</td><td *ngIf="!product.state">Inactivo</td>
                    <td class="td-actions text-right">
                      <a type="button" rel="tooltip" class="btn btn-success" [routerLink]="['/product/image/', product]">
                        <i class="material-icons">insert_photo</i>
                      </a>
                      <a type="button" rel="tooltip" class="btn btn-success" [routerLink]="['/product/edit/', product]">
                        <i class="material-icons">edit</i>
                      </a>
                      <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteProduct(product.id)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>