<div class="wrapper">
    <app-header></app-header>
    <div class="main-panel">
      <!-- Navbar -->
      <app-navbar></app-navbar>
      <!-- End Navbar -->
      <div class="content">
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Mis Playlist</h4>
                    </div>
                    <div class="card-body">
                      <button (click)="create()" class="btn btn-success">Crear Playlist</button>
                      <div class="card-body" *ngIf="isCreateOpen">
                        <div class="form-group" >
                            <label for="exampleEmail" class="bmd-label-floating">Nombre</label>
                            <input type="email" [(ngModel)]="newPlaylist" class="form-control" id="exampleEmail">
                            <button (click)="createPlaylist()" class="btn btn-success">Crear</button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th class=" text-left">Reproducir</th>
                              <th class=" text-left">Eliminar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let playlist of playlists">
                                <td>{{playlist.name}}</td>
                                <td class="td-actions text-center">
                                    <button type="button" (click)="goToPlaylist(playlist.idplaylist)" rel="tooltip" class="btn btn-info">
                                        <i class="material-icons">play_arrow</i>
                                    </button>
                                </td>
                                <td class="td-actions text-center">
                                    <button type="button" (click)="deletePlaylist(playlist.idplaylist)" rel="tooltip" class="btn btn-info">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <app-footer></app-footer>
    </div>
</div>