<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 create-md">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">category</i>
                    </div>
                    <h4 class="card-title">Editar Proveedor</h4>
                    </div>
                    <form [formGroup]="editForm" (ngSubmit)="editProvider(editForm)">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">Nombre</label>
                                <input type="text" formControlName="name" maxlength="100" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="examplePass" class="bmd-label-floating">Teléfono</label>
                                <input type="tel" formControlName="telephone" maxlength="10" class="form-control" id="number">
                            </div>
                            <div class="form-group">
                                <label for="examplePass" class="bmd-label-floating">Email</label>
                                <input type="email" formControlName="email" maxlength="100" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="card-footer ">
                            <button [disabled]="editForm.invalid"  type="submit" class="btn btn-fill btn-rose">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>