<ngx-spinner></ngx-spinner>
<div class="content">
    <div class="container-fluid">
        <div class="card-body">
            <div class="row">
                <div id="div_added" class="col-sm-4" style="display: grid;
                align-content: flex-end;
                margin-bottom: 30px;">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div id="img_default" class="fileinput-new thumbnail">
                            <img src="../../assets/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div id="img_loaded" class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                            <span class="btn btn-rose btn-round btn-file">
                                <span id="span_txt_btn" class="fileinput-new">Cargar Nueva Imágen</span>
                                <input id="new-image" type="file" name="new-image" (change)="loadImage($event)"/>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="grid-images" *ngFor="let image of images" class="col-sm-4" style="display: grid;
                align-content: flex-end;
                margin-bottom: 30px;">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img src="{{URL+'/public/'+image.path}}" alt="...">
                        </div>
                        <div>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" [checked]="image.path == product.imageprincipal" type="radio" name="principal" id="{{image.id}}" (change)="setImagePrincipal(image.path)" value="option1" >
                                    Principal
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <button (click)="deleteImage(image.id)" class="btn btn-danger btn-round" data-dismiss="fileinput"><i class="fa fa-times"></i> Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>