<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-12 cards">
                    <div class="card card-pricing card-raised">
                        <div class="card-body">
                            <h6 class="card-category">Factura de Canje</h6>
                            <div class="card-icon icon-rose">
                                <i class="material-icons">receipt</i>
                            </div>
                            <h3 class="card-title">TOTAL {{order.points}} PUNTOS</h3>
                            <p class="card-description">
                                Factura # {{order.code}}
                            </p>
                            <table class="invoice">
                                <tr>
                                    <td>
                                        <p class="card-description">
                                            <b>
                                                Puntos Canjeados
                                            </b>
                                        </p>
                                    </td>
                                    <td colspan="2">
                                        <p class="card-description">
                                            {{order.points}}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="card-description">
                                            <b>
                                                Estado Pedido
                                            </b>
                                        </p>
                                    </td>
                                    <td colspan="2">
                                        <p class="card-description">
                                            {{order.state}}
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <div class="card" *ngFor="let detail of order.details; let i = index">
                                <div class="card-header card-header-text card-header-primary">
                                    <div class="card-text">
                                        <h4 class="card-title">Producto #{{i+1}} - {{detail.product.name}}</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-header">
                                        <h4 class="card-title"><b>Token: {{detail.token}}</b></h4>
                                        <h4 class="card-title"><b>ID: {{order.user.identification}}</b></h4>
                                    </div>
                                    <p>Cantidad: {{detail.quantity}}</p>
                                </div>
                                <div class="card col-md-10 provider">
                                    <div class="card-body">
                                        <div class="card-header">
                                            <h4 class="card-title"><b>¿Donde puedes pedir tú producto?</b></h4>
                                        </div>
                                        <p><b>Nombre:</b> {{detail.product.provider.name}}</p>
                                        <p><b>Correo:</b> {{detail.product.provider.email}}</p>
                                        <p><b>Teléfono:</b> {{detail.product.provider.telephone}}</p>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="/exchange" class="btn btn-rose btn-round">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>